<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sqlsat319wm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sqlsat319wm.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sqlsat319wm</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sqlsat319wm</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sqlsat319Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlsat319.database.windows.net,1433;Initial Catalog=sqlsat319;User ID=waltermontes;Password=Walmon1993!;Application Name=EntityFramework" Name="Data Source=tcp:sqlsat319.database.windows.net,1433;Initial Catalog=sqlsat319;User ID=waltermontes;Password=Walmon1993!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:sqlsat319.database.windows.net,1433;Initial Catalog=sqlsat319;User ID=waltermontes;Password=Walmon1993!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sqlsat319Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ClassesModel.csdl|res://*/ClassesModel.ssdl|res://*/ClassesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sqlsat319.database.windows.net,1433;initial catalog=sqlsat319;user id=waltermontes;password=Walmon1993!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sqlsat319Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ClassesModel.csdl|res://*/ClassesModel.ssdl|res://*/ClassesModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:sqlsat319.database.windows.net,1433;initial catalog=sqlsat319;user id=waltermontes;password=Walmon1993!;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>